body, html{
    background-color: #2F4454;
    width : 100%;
    margin : 0;
}

nav {
    display: flex;
    justify-content: center;
}

.tl{

}

.navbar ul{
    margin: 2em;
    width: 60%;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
}

.navbar li{
    display: flex;
    float: left;
}

.navbar li a{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    color: white;
    text-decoration: none;
}
